body {
  font-family: inherit;
}

h1,
h2,
h3 {
  font-family: 'Times New Roman', Times, serif;
}

p {
  color: rgb(37, 35, 37);
}

:root {
  --primary-color: #007bff;
}

.navbar-nav .nav-link {
  color: var(--primary-color);
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #6933ff;
}

 .footer {
  text-align: center;
} 

/* BottomNav.css */
.bottom-nav {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-top: 1px solid #ddd;
}

.bottom-nav a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
}

/* Apply the primary color to other elements as needed */


/* ContactForm.css */

.contact-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  margin-bottom: 15px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the container height as needed */
}

.centered-image {
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
  max-height: 100%; /* Ensure the image doesn't exceed its container's height */
}

